body {
    font-family: 'Segoe UI', sans-serif;background: #f4f4f4;
    display: flex;justify-content: center;padding: 50px 20px;
  }
  
  .container {
    background: white;padding: 30px;border-radius: 10px;
    width: 100%;max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {text-align: center;margin-bottom: 20px;}
  
  .input-section {display: flex;gap: 10px;}
  
  #taskInput {flex: 1; padding: 10px;font-size: 16px;}
  
  #addTaskBtn {
    padding: 10px 15px;background-color: #007bff;
    color: white;border: none;cursor: pointer;
}
  
#addTaskBtn:hover {background-color: #0056b3;}
  
  ul {list-style: none;padding: 0;margin-top: 20px;}
  
  li {
    background: #f9f9f9;margin-bottom: 10px;
    padding: 12px;border-radius: 5px;display: flex;
    justify-content: space-between;align-items: center;
  }
  
  li.completed {text-decoration: line-through;color: gray;}
  
  li button {
    background: red;color: white;border: none;
    padding: 5px 10px;cursor: pointer;border-radius: 3px;
  }
  
  li button:hover { background: darkred;}
  